/* header{
    background-color: teal;
} */
/* div{
    background-color: red;
    height: 100px;
    width: 100px;
} */

/* h1{
    background-color: yellow;
} */

/* section{
    background-color: green;
} */

/* p{
    background-color: blue;
} */

/* a{
background-color: teal;
} */

/* b{
    background-color: yellow;
    height: 100px;
    width: 100px;
    display: block;
} */

/* i{
    background-color: green;
} */

/* span{
    color: wheat;
} */

/* input{
    height: 100px;

} */

/*  */
table {
    border-collapse: collapse;
}

/* table th,
table td {
    padding: 10px;
    border: 1px solid #2a2a2a;
} */

